# default run directory
run_dir*/

# data files
*.pkl
*.hdf5
*.csv
*.xlsx

# visualization files
*.png
*.png
*.eps

# exclusions
# sample data files
!bes_data/sample_data/*

# python artifacts
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# MacOS artifacts
.DS_Store

# IDE artifacts
.idea/
.vscode/
*.code-workspace
.spyderproject
.spyproject
